* {
  font-family: poppins;
}

.card-head h2 {
  padding: 10px 0 0 10px;
}
tbody tr td {
  vertical-align: middle;
  text-transform: capitalize;
}

tbody tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* View Page */
.signal-view table tr td:nth-child(1) {
  font-size: 22px;
  font-weight: bold;
}
.signal-view table tr td:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.signal-view table tr td:nth-child(3) {
  font-size: 18px;
  text-transform: capitalize;
}

#signal-card-img {
  width: 100%;
  height: 300px;
  border: 1px solid #cacaca;
}
